.title {
  font-size: 26px;
  margin-left: 50px;
}

.icon {
  margin-left: 15px;
}
.example-spacer {
  flex: 1 1 auto;
}
.icons {
  margin-right: 51px;
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}
